.intro{
    background-color: #EEEEEE;
    text-align: center;
    padding-top: 50px;
}
#intro_title{
    margin-top:-40px;
    padding-top:90px;
}
.intro_title{
    font-size: 30px;
    text-align: center;
    border-bottom: solid 3px; 
    padding-bottom: 5px;
}
.short{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: fit-content;
    margin: 30px auto;
    padding: 20px;
}
.picture{
    margin-right: 30px;
}
.short_intro{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.coffee02{
    border-radius: 50px;
}



/*ボックス全体*/
.intro_item {
    margin: 30px auto;
    padding: 0;
    width: fit-content;/*最大幅*/
    padding-bottom: 100px;
}

/* history */
.history{
    margin-bottom: 15px;
}
/*ラベル*/
.history label {
    display: block;
    margin: 1.5px auto;
    padding : 11px 12px;
    color : black;
    font-weight: bold;
    background :white;
    cursor :pointer;
    transition: all 0.5s;
    width: 50%;
    border: solid 1px;
}
/*ラベルホバー時*/
.history label:hover {
    background :black;
    color: white;
}

/*チェックは隠す*/
.history input {
    display: none;
}

/*中身を非表示にしておく*/
.history .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
    height: auto;
    padding: 5px;
    background: #DDDDDD;
    opacity: 1;
}


/*　タイムライン　*/
.timeline > li {
  overflow: hidden;
  margin: 0;
  position: relative;
  
}
.timeline-date {
  width: 110px;
  float: left;
  margin-top: 20px;
  text-align: right;
  padding-right: 10px;
}
.timeline-content {
  width: 75%;
  float: left;
  border-left: 3px #666666 solid;
  padding-left: 30px;
  text-align: left;
  font-size: 13px;
}
.timeline-content:before {
  content: '';
  width: 12px;
  height: 12px;
  background: #666666;
  position: absolute;
  left: 106px;
  top: 24px;
  border-radius: 100%;
}
.timeline{
    padding: 10px;
    margin: 20px auto;   
}
.timeline_title{
    font-size: 16px;
    font-weight: bold;
}
.excel{
    color: green;
}
.access{
    color: maroon;
}
.ruby{
    color: red;
}