.intro{
    background-color: #EEEEEE;
    height: 50%;
    text-align: center;
    padding-top: 30px;
}
#intro_title{
    margin-top:-40px;
    padding-top:70px;
}
.intro_title{
    font-size: 30px;
    text-align: center;
    border-bottom: solid 3px; 
    padding-bottom: 5px;
}





/*ボックス全体*/
.intro_item {
    margin: 2em 0;
    padding: 0;
    max-width: 400px;/*最大幅*/
}

/*ラベル*/
.intro_item label {
    display: block;
    margin: 1.5px 0;
    padding : 11px 12px;
    color :#2f8fcf;
    font-weight: bold;
    background :#a4cbf3;
    cursor :pointer;
    transition: all 0.5s;
}

/*ラベルホバー時*/
.intro_item label:hover {
    background :#85baef;
}

/*チェックは隠す*/
.intro_item input {
    display: none;
}

/*中身を非表示にしておく*/
.intro_item .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
    height: auto;
    padding: 5px;
    background: #eaeaea;
    opacity: 1;
}