.skill{
    background-color: #EEEEEE;
    text-align: center;
    padding-top: 50px;
}
#skill_title{
    margin-top:-40px;
    padding-top:90px;
}
.skill_title{
    font-size: 30px;
    text-align: center;
    border-bottom: solid 3px; 
    padding-bottom: 5px;
}
.skill_good{
    margin: 20px;
    font-size: 20px;
}
.all_skill{
    text-align: left;
    width: 60%;
    margin: 0 auto;
}
.skill_group_title{
    font-size: 17px;
    margin-right: 20px;
}
.skill_group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 25px;
}
.skill_group_item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.skill_name{
    margin-left: 5px;
}
.skill_bottom{
    margin-bottom: 100px;
}