.skill{
    background-color: #EEEEEE;
    height: 50%;
    text-align: center;
    padding-top: 30px;
}
#skill_title{
    margin-top:-40px;
    padding-top:70px;
}
.skill_title{
    font-size: 30px;
    text-align: center;
    border-bottom: solid 3px; 
    padding-bottom: 5px;
}