/* sns */
.sns{
    background-color: white;
    text-align: center;
    padding-top: 30px;
}
#sns_title{
    margin-top:-40px;
    padding-top:70px;
}
.sns_title{
    font-size: 30px;
    text-align: center;
    border-bottom: solid 3px; 
    padding-bottom: 5px;
}
.sns_item{
    width: 65%;
    text-align: left;
    margin: 40px auto;
}

/* ____________________________________ */

/* contact */
.contact{
    background-color: #EEEEEE;
    height: 50%;
    text-align: center;
    padding-top: 30px;
}
#contact_title{
    margin-top:-40px;
    padding-top:70px;
}
.contact_title{
    font-size: 30px;
    text-align: center;
    border-bottom: solid 3px; 
    padding-bottom: 5px;
}
.email{
    margin: 30px;
}