
/*　ヘッダー　*/
header{
    position: fixed;
    top: 0px; 
    left: 0px;   
    height: 40px;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    background-color: white;
    text-align: center;
    font-size: 15px;
    z-index: 99;
}
.menu{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu_item{
    color: black;
    margin-right: 10px;
    padding: 4px;
    border-right: solid 1px;
    transition: all 0.3s ease 0s;
}
.menu_item:hover{
    background-color: black;
    color: white;
}
/*　ヘッダー　*/
@media (max-width: 1279px){

}

@media (max-width: 900px){
header{
    font-size: 14px;
}
.menu_item{
    margin-right: 8px;
}
}

@media (max-width: 480px){
header{
    height: 50px;
}
.menu{
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
}
.menu_top{
    margin-bottom: 3px;
}
}

/*________________________________________*/
/* 表紙 */
.title{
    background-color: #EEEEEE;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    
}
.title_item{
    color: black;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.title_btn_group{
    padding: 15px;
    border: solid 1px;
    border-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title_btn_group_top{
    margin-top: 8px;
    margin-bottom: 12px;
}
.title_btn{
    color: black;
    font-size: 18px;
    border-right: solid 1px;
    border-color: black;
    padding: 3px;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
}
.title_btn:hover{
    background-color: black;
    color: white;
}

@media (max-width: 1279px){

}

@media (max-width: 900px){
.title_btn_group{
    flex-direction: column;
}
}

@media (max-width: 480px){
.title_btn{
    font-size: 15px;
}
}
/* 表紙 */

/* _____________________________________________ */

/* はじめに */
.first{
    background-color: white;
    text-align: center;
    padding-top: 50px;
}
#first_title{
    margin-top:-40px;
    padding-top:90px;
}
.first_title{
    font-size: 30px;
    text-align: center;
    border-bottom: solid 3px; 
    padding-bottom: 5px;
}
.first_text_group{
    max-width: 90%;
    margin: 30px auto;
    margin-bottom: 100px;
}



