.work{
    background-color: white;
    text-align: center;
    padding-top: 30px;
}
#work_title{
    margin-top:-40px;
    padding-top:70px;
}
.work_title{
    font-size: 30px;
    text-align: center;
    border-bottom: solid 3px; 
    padding-bottom: 5px;
}

.first_work{
    display: flex;
    justify-content: center;
    border: solid 1px;
    border-radius: 5px;
    width: fit-content;
    margin: 30px auto;
    padding: 20px;
}
.work_thumbnail{
    border: solid 1px;
    border-radius: 5px;
    width: 25%;
    margin-right: 50px;
}
.thumbnail{
    margin: 10px auto;
}
.work_explain{
    width: 75%;
}
.tech{
    text-align: left;
}