.work{
    background-color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
#work_title{
    margin-top:-40px;
    padding-top:90px;
}
.work_title{
    font-size: 30px;
    text-align: center;
    border-bottom: solid 3px; 
    padding-bottom: 5px;
}
.work_subtitle{
    margin-top: 50px;
    margin-bottom: 15px;
}

.first_work{
    display: flex;
    justify-content: center;
    border: solid 1px;
    border-radius: 5px;
    max-width: 70%;
    margin: 0px auto;
    margin-bottom: 70px;
    padding: 20px;
    box-shadow: 5px 10px 20px rgba(0,0,0,0.25);
}
.work_thumbnail{
    border: solid 1px;
    border-color: gray;
    border-radius: 5px;
    width: 30%;
    margin-right: 50px;
    padding: 10px;
}
.thumbnail_and_title{
    border: solid 1px;
    border-color: gray;
    margin-bottom: 10px;
    box-shadow: 0 0px 20px rgba(0,0,0,0.2);
}
.thumbnail_title{
    font-weight: bold;
    color: black;
}
.source_code{
    color: blue;
}
.thumbnail{
    margin: 5px auto;
}
.login_word{
    font-size: 12px;
}
.work_explain{
    width: 50%;
}
.tech{
    text-align: left;
}
.tech_reason{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}
.tech_reason_item{
    text-align: left;
    font-size: 13px;
}
.tech_table{
    background-color: white;
}
/*ラベル*/
.tech_reason label {
    display: block;
    margin: 1.5px 0;
    padding : 5px;
    color : black;
    font-weight: bold;
    background :white;
    cursor :pointer;
    transition: all 0.5s;
    border: solid 1px;
}
/*ラベルホバー時*/
.tech_reason label:hover {
    background :black;
    color: white;
}

/*チェックは隠す*/
.tech_reason input {
    display: none;
}

/*中身を非表示にしておく*/
.tech_reason .accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
    height: auto;
    padding: 5px;
    background: #eaeaea;
    opacity: 1;
}
.alert_group{
    text-align: left;
    font-size: 13px;
}
.real{
    color: blue;
}

@media (max-width: 1279px){
.first_work{
    max-width: 80%;
    width: 80%;
}
.work_explain{
    width: 70%;
}
}

@media (max-width: 900px){
.first_work{
    flex-direction: column;
    max-width: 90%;
    width: 90%;
}
.work_thumbnail{
    max-width: 100%;
    width: fit-content;
    margin: 0 auto;
}
.work_explain{
    max-width: 100%;
    width: fit-content;
    font-size: 13px;
    margin: 10px auto;
    
}
}

@media (max-width: 480px){
}